body {
    background-color: aqua;
}

h1{
    color:red;
    margin: center;
    
}

@media only screen and (max-width: 414px) {
    body {
    background-color: black;
}

h1{
    color:white;
    margin: center;
    
}

}